---
layout: default
title: It's out of this world!
---

<main id="content" class="font-maven w-100 hmn-100-landscape flex flex-column items-center justify-start bg-01-dark bg-top-mid cover bg-fixed" style="">
<header id="title" class="flex flex-column items-center justify-start w-100 pv5 ">
  
  <div id="left-lander" class="flex flex-column items-center justify-center pt5 pb4">
      <img class="w-40" style="animation-name: fade-in; animation-duration: 1s;" src="assets/images/lunar_logo-full-01c.svg" alt="shilouette of a rockhopper penguin in front of a crescent moon, and the text 'Lunar Linux'"/>

  <h3 class="near-white tracked pv2 ph4 tracked tc" style="animation-name: fade-in; animation-duration: 1.5s;">
{% capture landing_block %}
  {% include lander_right.md %}
{% endcapture %}
{{ landing_block | markdownify }}
  </h3>

  </div>

  <div id="right-lander" class="flex flex-row-landscape flex-column-portrait items-center justify-around w-100 w-90-ns w-80-m w-70-l pv3">

{% for item in site.data.download_buttons %}
  {% include {{ item.file }} %}
{% endfor %}
  </div>

</header>
{% include_relative about.html %}
{% include_relative contact.html %}

</main>
