---
layout: default
title: Lunar Linux
transp: 210,40%,100%,0.7
---

<header id="title" class="bg-01 bg-top cover">
<section class="vh-100 ph2 flex flex-row items-center justify-start w-100" style="background-color:hsla({{ page.transp }})">

    <div id="left-lander" class="inline-flex flex-column items-center justify-center flex-shrink-1 flex-grow-0 w-50">
      <div id="logo" class="w-50 tc">
      <img class="w-100"  src="assets/images/lunar_logo-01-full.svg" alt="shilouette of a rockhopper penguin in front of a crescent moon"/>
     <h3 class="font-maven dark-gray tracked">An advanced, source-based Linux distribution</h3>
     </div>

  </div>

  <div id="right-lander" class="flex flex-column shadow-1 bg-near-white pa5">
    <p class="w-50">
{% capture my_include %}{% include right_lander.markdown %}{% endcapture %}
{{ my_include | markdownify }}
    </p>

  </div>
</section>
</header>

{% for post in site.posts reversed %}
{{ post }}
{% endfor %}
