---
layout: default
title: It's out of this world!
bg-transp: 215,58%,28%,0.0
---

<header id="title" class="bg-01 bg-top bg-fixed cover">
<section class="hmn-100-landscape flex flex-column items-center justify-start w-100 pv5" style="background-color: hsla({{ page.bg-transp }});">
  
  <div id="left-lander" class="inline-flex flex-column items-center justify-center pt5 pb4">
      <img class="w-40" style="animation-name: fade-in; animation-duration: 1s;" src="assets/images/lunar_logo-full-01c.svg" alt="shilouette of a rockhopper penguin in front of a crescent moon"/>

  <h3 class="font-maven lunar-light tracked pv2 ph4 tracked tc" style="animation-name: fade-in; animation-duration: 3s;">
{% capture landing_block %}
  {% include lander_right.md %}
{% endcapture %}
{{ landing_block | markdownify }}
  </h3>

  </div>

  <div id="right-lander" class="flex flex-row-landscape flex-column-portrait items-center justify-around w-100 w-90-ns w-80-m w-70-l pv3">

{% for item in site.data.download_buttons %}
  {% capture button_inner %}
    {% cycle "button_inner": "bg-lunar-light lunar-dark hover-bg-lunar-dark hover-lunar-light", "bg-lunar-dark lunar-light hover-bg-lunar-light hover-lunar-dark"  %}
  {% endcapture %}
  {% include {{ item.file }} %}
{% endfor %}
  </div>
</section>

</header>

{% for post in site.posts reversed %}
  {{ post }}
{% endfor %}
