---
layout: default
title: News
navstyle: light
---

{% include navbar-{{ page.navstyle }}.html %}
<section id="news" class="font-poppins hmn-100-landscape w-100 bg-lunar-light pt4 bg-01-light bg-top-mid bg-fixed cover">
<h1 class="tc dark-gray pt5">{{ page.title | upcase }}</h1>
{% for post in site.posts %}
<div id="{{ post.title }}_containter" class="w-100 ph3 pv5 flex flex-column items-center justify-start dark-gray relative z-3">
  <div id="{{ post.title }}_content" class="measure-wide anchor-lunar-dark" style="animation-name: fade-in; animation-duration: 1s;">
    <h2 class="lunar-dark">{{ post.title | upcase }}</h2>
    <h3 class="lunar-dark">{{ post.date | date: '%B %d %Y' }}</h3>
  {{ post }}
  </div>
</div>
{% endfor %}
</section>
