<nav id="main_nav" class="w-100">
  <section id="burger-menu" class="dn-lt192 flex-192 flex-column-portrait flex-row-landscape h-100 w-100 fixed"></div>
  <label for="menu-toggle" class="mt3 ml3"><img src="assets/images/lunar_logo-burger.svg" alt="main menu" class="w3"/></label><input type="checkbox" id="menu-toggle" class="dn">
    <div id="main-menu" class="flex flex-column-portrait flex-rot-landscape flex-wrap items-start justify-start h-100 w-100 br1 tc font-maven tracked">
  {% for item in site.data.site_links %}
      <a href="{{ item.link }}" class=" self-stretch link b bg-animate bg-lunar-dark lunar-light pv5 ph3 ma1 br1">{{ item.name | upcase }}</a>
  {% endfor %}
    </div>
  </section>

  <section id="full-menu" class=" dn-192 flex flex-row-ns flex-wrap items-center justify-start bg-lunar-light lunar-dark w-100 font-maven tracked fixed">
      <a href="https://lunar-linux.org/" class="link b bg-animate bg-lunar-light hover-bg-lunar-dark hover-lunar-light pv2 ph3 br2 mr3"><img src="assets/images/lunar_logo-01-white.svg" alt="main menu" class="w2"/></a>
  {% for item in site.data.site_links %}
      <a href="{{ item.link }}" class="link b bg-animate hover-bg-lunar-dark hover-lunar-light pa3 br1">{{ item.name | upcase }}</a>
  {% endfor %}
  </section>
</nav>
