<nav id="main_nav" class="w-100">
  <section id="burger-menu" class="dn-lt192 font-maven tracked fixed"></div>
  <label for="menu-toggle"><img src="assets/images/lunar_logo-burger.svg" alt="main menu" class="w3 ma3"/></label><input type="checkbox" id="menu-toggle" class="dn">
    <div id="main-menu" class="flex flex-row flex-wrap items-start justify-center w-100 mh1-ns br1 tc">
  {% for item in site.data.site_links %}
      <a href="{{ item.link }}" class="dib w5 link b bg-animate bg-lunar-light hover-bg-lunar-dark hover-lunar-light pa4 ma1 br1">{{ item.name | upcase }}</a>
  {% endfor %}
    </div>
  </section>

  <section id="full-menu" class="flex flex-row-ns flex-wrap items-center justify-start bg-lunar-light lunar-dark w-100 font-maven tracked fixed dn-192">
      <a href="https://lunar-linux.org/" class="dib link b bg-animate bg-lunar-light hover-bg-lunar-dark hover-lunar-light pv2 ph3 br2 mr3"><img src="assets/images/lunar_logo-01-white.svg" alt="main menu" class="w2"/></a>
  {% for item in site.data.site_links %}
      <a href="{{ item.link }}" class="dib link b bg-animate hover-bg-lunar-dark hover-lunar-light pa3 br1">{{ item.name | upcase }}</a>
  {% endfor %}
  </section>
</nav>
