<nav id="main_nav" class="font-kanit w-100 sticky z-999">
  <section id="burger-menu" class="dn-landscape h-100 w-100 flex flex-column-portrait flex-row-landscape items-start justify-start fixed tracked"></div>
    <label id="open-button" for="main-menu-toggle" class="self-start mt3 ml3 bg-inherit pointer"><img src="{{ site.baseurl }}assets/images/lunar_logo-burger.svg" alt="main menu" class="w3-portrait w2-landscape"/></label>
    <input type="checkbox" id="main-menu-toggle" class="dn">
      <div id="main-menu" class="fixed flex flex-column flex-wrap h-100 w-100 bg-lunar-light">
        <label id="close-button" for="main-menu-toggle" class="bg-inherit hover-bg-lunar-dark self-start bg-animate f1 pointer br2 tc pa4"><img src="{{ site.baseurl }}assets/images/close-button.svg" class="w3 v-mid">
        </label>
        <div id="menu-item" class="w-100 flex flex-column flex-row-landscape items-center justify-center">
{% for item in site.data.site_menu %}
        <a href="{{ item.link }}" class="self-stretch-portrait b bg-animate bg-lunar-light hover-bg-lunar-dark lunar-dark hover-lunar-light link flex-grow-1 pv5 ph3 ma1 br1 tc tracked f4">{{ item.name | upcase }}</a>
{% endfor %}
        </div>
      </div>
  </section>

    <section id="full-menu" class="dn-portrait flex flex-row flex-wrap items-center justify-start bg-lunar-light lunar-dark w-100 tracked fixed z-99">
        <a href="https://lunar-linux.org/" class="b bg-animate bg-lunar-light hover-bg-lunar-dark hover-lunar-light pv2 ph3 br1 mr3"><img src="{{ site.baseurl }}assets/images/lunar_logo-01-white.svg" alt="main menu" class="w2"/></a>
{% for item in site.data.site_menu %}
        <a href="{{ item.link }}" class="b bg-animate hover-bg-lunar-dark hover-lunar-light lunar-dark link pa3 br1 f4">{{ item.name | upcase }}</a>
{% endfor %}
  </section>
</nav>
