---
---

html {
  scroll-behavior: smooth;
}
.bg-fixed {
   background-attachment: fixed;
   }
.bg-scroll {
   background-attachment: scroll;
   }
{% assign bg_image = "01, 02, 03, 04, 05" | split: ", "  | sample %}

.bg-01 {
   background-image:url('images/bg-{{ bg_image }}-2x.jpg');
   overflow-x:hidden;
   }
.bg-02 {
   background-image:url('images/bg-0{{ bg_image | plus:2 }}-2x.jpg');
   overflow-x:hidden;
   }
.bg-03 {
   background-image:url('images/bg-0{{ bg_image | plus:2 }}-2x.jpg');
   overflow-x:hidden;
   }
h1,h2,h3,h4,h5,h6 {
   padding: 1rem 0 0 0;
font-family: 'Maven Pro', sans-serif;
}
.font-maven {
font-family: 'Maven Pro', sans-serif;
}

.font-catamaran {
font-family: 'Catamaran', sans-serif;
}

/* lunar colours */
.lunar-dark,
.hover-lunar-dark
{
color: #162d50;
}
.bg-lunar-dark,
.hover-bg-lunar-dark:hover {
background-color: #162d50;
}

.lunar-light,
.hover-lunar-light:hover
{
color: #7ca5cf;
}
.bg-lunar-light,
.hover-bg-lunar-light:hover {
background-color: #7ca5cf;
}


/*the checkbox hack*/
#menu-toggle:not(:checked) ~ #main-menu {
  visibility:hidden;
  opacity:0;
  transition: opacity 0.5s;
  }
#menu-toggle:checked ~ #main-menu {
  visibility:visible;
  opacity:1;
  transition: opacity 0.5s;
  }



@media 
  (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-2x.jpg')
   }
   
@media 
  (min-device-pixel-ratio: 3), 
  (min-resolution: 384dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-3x.jpg')
   }   
@media 
  (min-device-pixel-ratio: 3), 
  (min-resolution: 512dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-4x.jpg')
   }
