---
---

/* exciting visible scroll instead of jumps */
html {
  scroll-behavior: smooth;
}

/* tachyons doesn't have these normally ? */
.bg-fixed {
   background-attachment: fixed;
   }
.bg-scroll {
   background-attachment: scroll;
   }
@media
  (orientation: landscape) {
  .flex-row-landscape {
  flex-direction: row;
  }
  .flex-column-landscape {
  flex-direction: column;
  }
  .flex-grow-1-landscape {
  flex-grow: 1;
  }
  .self-stretch-landscape {
  align-self: stretch;
  }
  .order-1-landscape {
  order: 1;
  }
  .order-2-landscape {
  order: 2;
  }
  .order-3-landscape {
  order: 3;
  }
  .order-4-landscape {
  order: 4;
  }
  .order-5-landscape {
  order: 5;
  }
}
@media
  (orientation: portrait) {
  .flex-row-portrait {
  flex-direction: row;
  }
  .flex-column-portrait {
  flex-direction: column;
  }
  .flex-grow-1-portrait {
  flex-grow: 1;
  }
  .self-stretch-portrait {
  align-self: stretch;
  }
  .order-1-portrait {
  order: 1;
  }
  .order-2-portrait {
  order: 2;
  }
  .order-3-portrait {
  order: 3;
  }
  .order-4-portrait {
  order: 4;
  }
  .order-5-portrait {
  order: 5;
  }
}
/* "randomizing" the bg image */
{% assign bg_image = "01, 02, 03, 04, 05" | split: ", "  | sample %}

.bg-01 {
   background-image:url('images/bg-{{ bg_image }}-2x.jpg');
   overflow-x:hidden;
   }
.bg-02 {
   background-image:url('images/bg-0{{ bg_image | plus:1 }}-2x.jpg');
   overflow-x:hidden;
   }
.bg-03 {
   background-image:url('images/bg-0{{ bg_image | plus:2 }}-2x.jpg');
   overflow-x:hidden;
   }
   
/* the defaults are terrible */
h1,h2,h3,h4,h5,h6 {
   padding: 1rem 0 0 0;
}

/* call our two fonts */
.font-maven {
font-family: 'Maven Pro', sans-serif;
}

.font-catamaran {
font-family: 'Catamaran', sans-serif;
}

/* lunar colours */
.lunar-dark,
.hover-lunar-dark
{
color: #162d50;
}
.bg-lunar-dark,
.hover-bg-lunar-dark:hover,
.active-bg-lunar-dark:checked {
background-color: #162d50;
}

.lunar-light,
.hover-lunar-light:hover
{
color: #7ca5cf;
}
.bg-lunar-light,
.hover-bg-lunar-light:hover,
.active-bg-lunar-light:checked {
background-color: #7ca5cf;
}

/* the focus magic for the popups */

/* burger menu */
#main-menu {
  visibility:hidden;
  opacity:0;
  }
#main-menu-toggle:focus ~ #main-menu {
  visibility:visible;
  opacity:1;
  transition: all 0.5s ease;
  }
  
/* downloads */
#dl-release {
  visibility:hidden;
  opacity:0;
  height:0;
  }
#dl-release-toggle:checked ~ #dl-release {
  visibility:visible;
  opacity:1;
  height: 5rem;
  transition: all 0.75s ease;
  }
  
#dl-nightly {
  visibility:hidden;
  opacity:0;
  height:0;
  }
#dl-nightly-toggle:checked ~ #dl-nightly {
  visibility:visible;
  opacity:1;
  height: 5rem;
  transition: all 0.75s ease;
  }
  
/* extra queries based on dpi, to make burger menu trigger on mobile */

/* less than 192 = most desktops */
@media screen and
  (max-resolution: 192dpi) {
  .dn-lt192 {
  display:none;
  }
  .flex-lt192 {
  display: flex;
  }
  .flex-row-lt192 {
  flex-direction: row;
  }
  .flex-column-lt192 {
  flex-direction: column;
  }

/* these two are for styling the landing screen (min height 100vh) and the logo (width 50%) on desktop */
  .hmn-100-lt192 {
  min-height: 100vh;
  }
  .w-50-lt192 {
  width: 50%;
  }
  .f200-lt192 {
  font-size: 2rem;
  }
  .f175-lt192 {
  font-size: 1.75rem;
  }
  .f150-lt192 {
  font-size: 1.5rem;
  }
  .f125-lt192 {
  font-size: 1.25rem;
  }
}

/* old phones and up */
@media screen and
  (min-resolution: 192dpi) {
  .dn-192 {
  display:none;
  }
  .flex-192 {
  display: flex;
  }
  .flex-row-192 {
  flex-direction: row;
  }
  .flex-column-192 {
  flex-direction: column;
  }
  .f200-192 {
  font-size: 2rem;
  }
  .f175-192 {
  font-size: 1.75rem;
  }
  .f150-192 {
  font-size: 1.5rem;
  }
  .f125-192 {
  font-size: 1.25rem;
  }
}


@media screen and
  (min-resolution: 384dpi) {
  .dn-384 {
  display:none;
  }
  .flex-384 {
  display: flex;
  }
  .flex-row-384 {
  flex-direction: row;
  }
  .flex-column-384 {
  flex-direction: column;
  }
  .f200-384 {
  font-size: 2rem;
  }
  .f175-384 {
  font-size: 1.75rem;
  }
  .f150-384 {
  font-size: 1.5rem;
  }
  .f125-384 {
  font-size: 1.25rem;
  }
}
/* smaller images for smaller screens */
@media
  (max-resolution: 192dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-4x.jpg')
   }
}
@media 
  (min-resolution: 192dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-2x.jpg')
  }
}
   
@media 
  (min-resolution: 384dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-3x.jpg')
  }
}   
@media  
  (min-resolution: 512dpi) { 
  body {
  background-image:url('images/bg-{{ bg_image }}-4x.jpg')
   }
}
