<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{%if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Tachyons CSS -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  <!-- local CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/extra.css">
  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}assets/images/lunar_logo-01.svg">
</head>

<body class="hmn-100-landscape h-100 w-100 bg-lunar-dark near-white font-open-sans f175-192 f200-384" style="">
{% include navbar.html %}

{{ content }}

</body>
</html>
