---

---

<section id="{{ page.title }}" class="{{ page.bg-img }} cover bg-top bg-{{ page.bg-attach }}">
  <section class="w-100 ph4 pv5 flex flex-column items-center justify-start {{page.tx-color}} " style="background-color: hsla({{ page.bg-transp }});">
    <div id="{{ page.title }}-content" class="measure-wide pv3">
      <h1 class="font-maven">{{ page.title | upcase }}</h1>
      <h3 class="font-maven">{{ page.date | date: '%B %d %Y' }}</h3>
  {{ content }}
    </div>
  </section>
</section>
